In [10]:
import pandas as pd

In [14]:
df = pd.read_csv(r'C:\Users\yasmi\OneDrive\Desktop\2.csv', sep=',')

In [15]:
df

,X,Y,Pressure,TiltX,TiltY,Time
0,538.995265,793.141933,0.007797,-5564.0,-521.0,00:05.5
1,539.153251,792.246680,0.007797,-5564.0,-521.0,00:05.5
2,539.9431805,789.929553,0.007797,-5564.0,-521.0,00:05.6
3,540.4171382,789.034300,0.007797,-5564.0,-521.0,00:05.6
4,540.7331101,788.139046,0.007797,-5564.0,-521.0,00:05.6
...,...,...,...,...,...,...
244,702.7739924,601.347038,0.371084,-4986.0,230.0,00:08.4
245,702.7739924,601.347038,0.367910,-4986.0,230.0,00:08.4
246,702.7739924,601.347038,0.341299,-4986.0,230.0,00:08.4
247,Time Elapsed till drawing started: 00:05.5315422,NaN,NaN,NaN,NaN,NaN
248,Time Elapsed till drawing submit: 00:10.0840076,NaN,NaN,NaN,NaN,NaN

# Question 2

**Lets count the length of the drawing**

In [38]:
Xmin = df['X'].values[0]
Xmin

'538.995265'

In [39]:
Xmax = df['X'].values[-3]
Xmax

'702.7739924'

In [42]:
Ymin = df[' Y'].values[0]
Ymin

793.1419332

In [43]:
Ymax = df[' Y'].values[-3]
Ymax

601.3470378