In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Maya\Desktop\Drawing1.csv', sep =',')

In [3]:
df

,X,Y,Pressure,TiltX,TiltY,Time
0,925.9027601,665.541979,0.045884,-4917.0,669.0,00:12.6
1,925.9027601,665.541979,0.045884,-4917.0,669.0,00:12.6
2,926.6926897,665.647303,0.082506,-4917.0,669.0,00:12.6
3,927.0086615,665.647303,0.115953,-4917.0,669.0,00:12.7
4,927.3246333,665.594641,0.140368,-4917.0,669.0,00:12.7
...,...,...,...,...,...,...
129,584.8638411,646.846980,0.386954,-4510.0,1946.0,00:14.1
130,584.6531932,646.741656,0.386954,-4501.0,1991.0,00:14.1
131,584.6531932,646.741656,0.389151,-4501.0,1991.0,00:14.1
132,Time Elapsed till drawing started: 00:11.2234987,NaN,NaN,NaN,NaN,NaN
133,Time Elapsed till drawing submit: 00:17.1449348,NaN,NaN,NaN,NaN,NaN

In [4]:
df = df.drop(df.index[[-1,-2]])
df

               X           Y   Pressure   TiltX   TiltY     Time
0    925.9027601  665.541979   0.045884 -4917.0   669.0  00:12.6
1    925.9027601  665.541979   0.045884 -4917.0   669.0  00:12.6
2    926.6926897  665.647303   0.082506 -4917.0   669.0  00:12.6
3    927.0086615  665.647303   0.115953 -4917.0   669.0  00:12.7
4    927.3246333  665.594641   0.140368 -4917.0   669.0  00:12.7
..           ...         ...        ...     ...     ...      ...
127  585.4957847  647.004966   0.378408 -4510.0  1946.0  00:14.0
128  584.8638411  646.846980   0.382803 -4510.0  1946.0  00:14.0
129  584.8638411  646.846980   0.386954 -4510.0  1946.0  00:14.1
130  584.6531932  646.741656   0.386954 -4501.0  1991.0  00:14.1
131  584.6531932  646.741656   0.389151 -4501.0  1991.0  00:14.1

[132 rows x 6 columns]

In [5]:
df['X'] = df['X'].astype(float)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132 entries, 0 to 131
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   X          132 non-null    float64
 1   Y          132 non-null    float64
 2    Pressure  132 non-null    float64
 3    TiltX     132 non-null    float64
 4    TiltY     132 non-null    float64
 5   Time       132 non-null    object
dtypes: float64(5), object(1)
memory usage: 7.2+ KB

## Calculating distance of a line

In [6]:
column = df["X"]
max_x = column.max()
max_x

927.3246333

In [7]:
column = df["X"]
min_x = column.min()
min_x

584.6531932

In [8]:
column = df["Y"]
max_y = column.min()
max_y

646.2150364

In [9]:
column = df["Y"]
min_y = column.min()
min_y

646.2150364

In [10]:
distance = ((min_x - max_x)**2 + (min_y - max_y)**2)**1/2
distance

58711.85793010392

In [11]:
df['Time'] = df['Time'].str.slice(3).astype(float)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132 entries, 0 to 131
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   X          132 non-null    float64
 1   Y          132 non-null    float64
 2    Pressure  132 non-null    float64
 3    TiltX     132 non-null    float64
 4    TiltY     132 non-null    float64
 5   Time       132 non-null    float64
dtypes: float64(6)
memory usage: 7.2 KB

## Calculating number of times of hand lifting

In [13]:
i=0
df.iloc[i,5]

12.6

In [14]:
df.iloc[i+1,5]

12.6

In [ ]:
handLift = 0
i = 0
while i <len(df):
    if (((df.iloc[i+1,5]) - (df.iloc[i,5])) > 0.5):
        handLift = handLift+1

In [ ]:
print(handLift)